* text=auto eol=lf
*.sh text eol=lf
*.launch text eol=lf
*.md text eol=lf
*.json text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.so binary
*.pdf binary
